.ph1{
    background-color: blue;
    color: #fff;
}
.ph2{
    color: #fff;
    background-color: blue;
    opacity: 0.7;
}
.ph3 {
    color: #fff;
    background-color: blue;
    opacity: 0.6;
}
.ph4 {
    color: #fff;
    background-color: blue;
    opacity: 0.5;
}
.ph5 {
    color: #fff;
    background-color: blue;
    opacity: 0.4;
}
.ph6 {
    color: #fff;
    background-color: blue;
    opacity: 0.3;
}
.ph7 {
    color: #fff;
    background-color: blue;
    opacity: 0.2;
}
.ph8 {
    color: #fff;
    background-color: green;
}
.ph9 {
    color: #fff;
        background-color: palevioletred;
        opacity: 0.3;
}
.ph10 {
    color: #fff;
    background-color: palevioletred;
    opacity: 0.4;
}
.ph11 {
    color: #fff;
    background-color: palevioletred;
    opacity: 0.5;
}
.ph12 {
    color: #fff;
    background-color: palevioletred;
    opacity: 0.6;
}
.ph13 {
    color: #fff;
    background-color: palevioletred;
    opacity: 0.7;
}
.ph14 {
    color: #fff;
    background-color: palevioletred;
    opacity: 0.8;
}
.ph15 {
    color: #fff;
    background-color: palevioletred;
}